<ion-header>

  <img src="../assets/icon/favicon.png" width="10%">
  <ion-text class="custom-text-trem">Tecnologia de Referenciamento,
    Espacialização e Manejo do
    Greening (T.R.E.M.)</ion-text>

  <ion-button fill="clear"  class = "custom-continuar">

    <ion-icon name="exit-outline"  class="icone-custom"></ion-icon>
      SAIR
   </ion-button>

</ion-header>
<ion-content>
  <ion-grid>

    <ion-row class="custom-row-Inicio">

      <ion-col class = "custom-Inicio">
        <ion-text class = "custom-text-inicio">ALERTAS</ion-text>
      </ion-col>
    </ion-row>
    <ion-row><ion-col size="auto"><div style="height: 5px"></div></ion-col></ion-row>
      
    <ion-row class = "custom-row" id = "row-Informe-dados">
      <ion-col class="center-text"><ion-text>No momento, não há alertas de
        pulverização na sua região! <a href="#" (click)="saibaMais()">Saiba mais</a></ion-text></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <div class = "div-button">
          <img src="../assets/icons/img/alerta.png">
          ALERTAS
        </div>
      </ion-button>
      <ion-button>
        <div class = "div-button">
          <img src="../assets/icons/img/manejo.png">
          MANEJO
        </div>
      </ion-button>
      <ion-button (click)="onAjudaClick()">
        <div class = "div-button">
          <img src="../assets/icons/img/ajuda.png">
          AJUDA
        </div>
      </ion-button>
      <ion-button>
        <div class = "div-button">
          <img src="../assets/icons/img/confi.png">
          CONFI
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>