<ion-header>

  <img src="../assets/icon/favicon.png" width="10%">
  <ion-text class="custom-text-trem">Tecnologia de Referenciamento,
    Espacialização e Manejo do
    Greening (T.R.E.M.)</ion-text>

  <ion-button fill="clear"  class = "custom-continuar">

    <ion-icon name="exit-outline"  class="icone-custom"></ion-icon>
      SAIR
   </ion-button>

</ion-header>
<ion-content>
  <ion-grid>

    <ion-row class="custom-row-Inicio">

      <ion-col class = "custom-Inicio">
        <ion-text class = "custom-text-inicio">ALERTAS</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon src="./img/alerta.png"></ion-icon>
          <div class="icon-text">ALERTAS</div>
        </ion-button>
        <ion-button>
          <ion-icon src="./img/manejo.png"></ion-icon>
          <div class="icon-text">MANEJO</div>
        </ion-button>
        <ion-button>
          <ion-icon src="./img/ajuda.png"></ion-icon>
          <div class="icon-text">AJUDA</div>
        </ion-button>
        <ion-button>
          <ion-icon src="./img/confi.png"></ion-icon>
          <div class="icon-text">CONFI</div>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  

</ion-content>
