.custom-text-trem { 
    font-size: 24px;
    color: white;
    font-size: 16px!important; 
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
  }

  .custom-Inicio{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .custom-row-Inicio {
    border-bottom: 2px solid black;
  }
  
  .custom-text-inicio {
    font-weight: bold;
  }

  .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e3f0df;
    height: 60px;
    
  }
  
  .bold {
    font-weight: bold;
  }

  .custom-row {
    margin-left: 2%;
    margin-right: 2%;
    border-color:#e3f0df!important;
    background-color:#e3f0df;
  }
  
  #row-Informe-dados {
  
    border: solid; 
    border-radius: 10px
  
  }
  
  a {
    color: blue;
  }

  .div-button{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-menu{
    margin-right: 9%;
  }

  ion-header {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    background-color: #69A84F;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  ion-icone{
    color: black;
  }

  ion-buttons{

    display: flex;
    justify-content: center;
    align-items: center;

  }

  ion-button {
    color:#69A84F
  }