<ion-header>

  <img src="../assets/icon/favicon.png" width="10%">
  <ion-text class="custom-text-trem">Tecnologia de Referenciamento,
    Espacialização e Manejo do
    Greening (T.R.E.M.)</ion-text>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row class="custom-row-Inicio">

      <ion-col class = "custom-Inicio">
        <ion-text class = "custom-text-inicio">CONFIG</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class = "custom-row" id = "row-Check">
      <ion-col class = "custom-col-checkbox" id = "col-checkbox-1" size = "0.7">
      </ion-col>

      <ion-col class="custom-col-checkbox" size = "1">
        <ion-checkbox labelPlacement="end"> 
        </ion-checkbox>
      </ion-col>
      <ion-col class="custom-col-checkbox2">
        <ion-text>Ao marcar essa opção, você concorda em
alertas de pulverizações para sua região.
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row><ion-col size="auto"><div style="height: 5px"></div></ion-col></ion-row>
      <ion-row class="custom-row">
        <ion-col size="0.6" size-md="1.76"></ion-col>
        <ion-col class="custom-col">
          <ion-text class="bold"> {{ nomePropriedade }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="custom-row">
        <ion-col size="0.6" size-md="1.76"></ion-col>
        <ion-col class="custom-col">
          <ion-text>Região: {{ regiao }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="custom-row">
        <ion-col size="0.5" size-md="1.70"></ion-col>
        <ion-col class="custom-col-Botoes">
          <ion-button class="button-sair" fill="outline" (click)="onEditarClick()">
            <img src="../assets/icons/manejo/editar.png">
            EDITAR
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

<ion-button fill="clear" expand="full" class = "custom-continuar" (click)="onSairClick()">
  <ion-icon name="exit-outline"  class="icone-custom"></ion-icon>
  SAIR
</ion-button>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-center">
      <ion-button (click)="onAlertaClick()"class = "button-menu">
        <div class = "div-button">
          <img src="../assets/icons/img/alerta.png">
          ALERTAS
        </div>
      </ion-button>
      <ion-button class = "button-menu" (click)="onManejoClick()">
        <div class = "div-button">
          <img src="../assets/icons/img/manejo.png">
          MANEJO
        </div>
      </ion-button>
      <ion-button (click)="onAjudaClick()" class = "button-menu">
        <div class = "div-button">
          <img src="../assets/icons/img/ajuda.png">
          AJUDA
        </div>
      </ion-button>
      <ion-button>
        <div class = "div-button">
          <img src="../assets/icons/img/confi.png">
          CONFI
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
