.custom-text-trem { 
  font-size: 24px;
  color: white;
  font-size: 16px!important; 
  margin-left: 10px;
  text-align: center;
  font-weight: bold;
}

.custom-row-Inicio {
  border-bottom: 2px solid black;
}

.custom-text-inicio {
  font-weight: bold;
}

.custom-Fim{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-continuar{
  font-weight: bold;
  display: block!important;
  --color:white;
}

.icone-custom {
  font-size: 24px; 
  padding-right: 8px;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e3f0df;
  height: 60px;
  
}

.bold {
  font-weight: bold;
}

.custom-row {
  margin-left: 2%;
  margin-right: 2%;
  border-color:#e3f0df!important;
  background-color:#e3f0df;
}

#row-Informe-dados {

  border: solid; 
  border-radius: 10px

}

#row-Nome {

  border: solid; 
  border-top-left-radius: 10px; 
  border-top-right-radius:10px

}

#row-Check {

  border: solid; 
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius:10px

}

.custom-col{
  display: flex;
  align-items: center;
  background-color: #e3f0df;
}

#col-label {
  justify-content: left;
}

#col-input {
  justify-content: center;
}

a {
  color: blue;
}

.custom-col-checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e3f0df;

}

#col-checkbox-1 {

  width: 10px!important;
  
}

ion-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #69A84F;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

ion-note {
  background-color: #e3f0df;
}

ion-checkbox {
  background-color: #e3f0df;

}

ion-input {
  background-color: white;
  width: 90%;
  text-align: center;
}

ion-select{
  background-color: white;
  width: 90%;
  text-align: center;
}



